.div_A {
    background-color: #14e6e6;
    width: 100%;
    height: 50px;
}

.div_B {
    background-color: #f7e687;
    width: 10%;
    height: 80%;
}

.paragrafo_B {
    color: #9900ff;
    background-color: #b391f3;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.div_C {
    width: 100%;
    height: 80vh;
    background-color: rgb(114, 170, 253);
}

.div_D {
    width: 30vw; 
    height: 60%;
    background-color: rgb(220, 137, 236);
}